<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Enter player attributes:</h3>
<div id="form">
    <form method="POST" action="/send">
        <div class="form-group">
            <h5>Height <input type="number" name="0" /><br />
            Age <input type="number" name="1" /><br />
            Crossing <input type="number" name="2" /><br />
            Finishing <input type="number" name="3" /><br />
            Heading Accuracy <input type="number" name="4" /><br />
            Short Passing <input type="number" name="5" /><br />
            Volleys <input type="number" name="6" /><br />
            Dribbling <input type="number" name="7" /><br />
            Curve <input type="number" name="8" /><br />
            Free Kick Accuracy <input type="number" name="9" /><br />
            Long Passing <input type="number" name="10" /><br />
            Ball Control <input type="number" name="11" /><br />
            Acceleration <input type="number" name="12" /><br />
            Sprint Speed <input type="number" name="13" /><br />
            Agility <input type="number" name="14" /><br />
            Reactions <input type="number" name="15" /><br />
            Balance <input type="number" name="16" /><br />
            Shot Power <input type="number" name="17" /><br />
            Jumping <input type="number" name="18" /><br />
            Stamina <input type="number" name="19" /><br />
            Strength <input type="number" name="20" /><br />
            Long Shots <input type="number" name="21" /><br />
            Aggression <input type="number" name="22" /><br />
            Interceptions <input type="number" name="23" /><br />
            Positioning <input type="number" name="24" /><br />
            Vision <input type="number" name="25" /><br />
            Penalties <input type="number" name="26" /><br />
            Composure <input type="number" name="27" /><br />
            Marking <input type="number" name="28" /><br />
            Standing Tackle <input type="number" name="29" /><br />
            Sliding Tackle <input type="number" name="30" /><br />
            Skill Moves <input type="number" name="31" /><br />
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</body>
</html>
